 <ul class="sidebar">
    <li class="project-title" routerLinkActive="active">
        <a routerLink="/main">Memory Box</a>
    </li>
    <li class="user-info"></li>
    <li class="panel-item" routerLinkActive="active">
      <a routerLink="/films"><i class="fas fa-film"></i> <span class="pl-3">Films box</span></a>
    </li>
    <li class="panel-item" routerLinkActive="active">
      <a routerLink="/books"><i class="fas fa-book"></i> <span class="pl-3">Books Box</span></a>
    </li>
   <li class="panel-item" routerLinkActive="active">
     <a routerLink="/songs"><i class="fas fa-headphones-alt"></i> <span class="pl-3">Songs box</span></a>
   </li>
    <li class="panel-item" routerLinkActive="active">
      <a routerLink="/goals"><i class="fas fa-check-square"></i> <span class="pl-3">Goals box</span></a>
    </li>
     <li class="panel-item" routerLinkActive="active">
         <a routerLink="/todo"><i class="fas fa-tasks"></i><span class="pl-3">ToDo box</span></a>
     </li>
  </ul>
